<!DOCTYPE HTML>

<h1>
Patient details
</h1>

<h2>
Welcome <%= patient_name %>!
</h2>

<h3>
Bio:
</h3>

<p>
    Patient ID: <%= patientid %> <br>
    Address: <%= address %> <br>
    Contact: <%= phone_number %> <br>
</p>

<form action="" method="POST">
    <button> Logout </button>
</form>